<h3>Create new character</h3>
<form #characterForm="ngForm" (ngSubmit)="onSubmit(characterForm.value)"> 
    Name:
    <input type="text" name="name" ngModel><br>
    Race:
    <select name="race" ngModel>
        <option *ngFor="let r of races">
            {{r.name}}
        </option>
    </select><br>
    Class:
    <select name="class" ngModel>
        <option *ngFor="let c of classes">
            {{c.name}}
        </option>
    </select><br>
    Strength:
    <input type="number" name="strength" ngModel><br>
    Dexterity:
    <input type="number" name="dexterity" ngModel><br>
    Constitution:
    <input type="number" name="constitution" ngModel><br>
    Intelligence:
    <input type="number" name="intelligence" ngModel><br>
    Wisdom:
    <input type="number" name="wisdom" ngModel><br>
    Charisma:
    <input type="number" name="charisma" ngModel><br>
    <input type="submit" value="Create">
</form>