<h3>Create new character</h3>
<form #characterForm="ngForm" (ngSubmit)="onSubmit(characterForm.value)"> 
    Name:
    <input type="text" name="name" ngModel><br>
    Race:
    <select #r id="race" name="race" [ngModel]="r.value">
        <option *ngFor="let r of races" [value]="r.index + '|' + r.name">
            {{r.name}}
        </option>
    </select><br>
    Class:
    <select #c name="class" [ngModel]="c.value">
        <option *ngFor="let c of classes">
            {{c.name}}
        </option>
    </select><br><br>
    STATS: <button type="button" id="genBtn" (click)="showGenerator()" disabled>Throw some dice!</button> <br>
    Strength:
    <input type="number" name="strength" [ngModel]="str"><br>
    Dexterity:
    <input type="number" name="dexterity" [ngModel]="dex"><br>
    Constitution:
    <input type="number" name="constitution" [ngModel]="con"><br>
    Intelligence:
    <input type="number" name="intelligence" [ngModel]="int"><br>
    Wisdom:
    <input type="number" name="wisdom" [ngModel]="wis"><br>
    Charisma:
    <input type="number" name="charisma" [ngModel]="cha"><br>
    <input type="submit" value="Create">
</form>