<p>character-data works!</p>
<ul>
    <li *ngFor="let c of characters">
        {{c.name}}
    </li>
</ul>
<h3>Create new</h3>
<form #characterForm="ngForm" (ngSubmit)="onSubmit(characterForm.value)"> 
    <input type="text" name="name" ngModel>
    <input type="text" name="race" ngModel>
    <input type="text" name="class" ngModel>
    <input type="number" name="strength" ngModel>
    <input type="number" name="dexterity" ngModel>
    <input type="number" name="constitution" ngModel>
    <input type="number" name="intelligence" ngModel>
    <input type="number" name="wisdom" ngModel>
    <input type="number" name="charisma" ngModel>
    <input type="hidden" name="id" [(ngModel)]="idOnSubmit" ngModel>
    <input type="submit" value="Create">
</form>
