<h3>Manage characters for {{campaign.name}}</h3>
<form #campaignForm="ngForm" (ngSubmit)="onSubmit()">
    Includes:
    <ul>
        <li *ngFor="let m of members">
            {{m.name}}
        </li>
    </ul>
    Add another character:
    <ng-container *ngFor="let characterForm of characters.controls; let i = index">
        <div [formGroup]="characterForm">
            <select formControlName="character">           
        <option [value]="c.id" *ngFor="let c of chars" >
            {{c.name}}
        </option>
            </select>
        </div>
    </ng-container>
    <button type="button" (click)="addCharacter()">Add another character</button>
    <br><br>
    <input type="submit" value="Create">
</form>