<div class="app">
    <div class="titlebar">
        <h1>DNDEssentials</h1>
        <div class="account">
            <p *ngIf="isLoggedIn() else elseBlock">{{username()}} | <a (click)="logout()">Log out</a></p>
            <ng-template #elseBlock>
                <p><a routerLink="/login">Log in</a></p>
            </ng-template>
        </div>
    </div>

    <div class="navbar">
        <a routerLink="/character">My Characters</a>
        <a routerLink="/campaign">My Campaigns</a>
    </div>
    <div style="grid-column: span 12;">
        <router-outlet> </router-outlet>
    </div>
</div>